{% extends "main_app/base.html" %}
{% block content %}
    <h1>Acerca do nossa loja!</h1>
    <br>
    <p>Esta aplicação web, desenvolvida no âmbito das unidades curriculares de Projeto de Tecnologias de Informação e Projeto de Tecnologias de Redes pertencentes a Faculdade de Ciências da Universidade de Lisboa, consiste em facilitar o processo da utilização de uma loja online na óptica de consumidor, fornecedor e transportador.</p>
{% endblock content %}