{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
        
        <link rel="stylesheet" href="{% static 'main_app/main2.css' %}" type="text/css">
        <!----===== Iconscout CSS ===== -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        
        <!-- Bootstrap CSS (Que esta a interferir com o outro css) -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
        <link rel="stylesheet" href="{% static 'main_app/main.css' %}" type="text/css">
        
        
        {% if title %}
            <title>Django Website - {{ title }}</title>
        {% else %}
            <title>Django Website</title>
        {% endif %}
    </head>
    <body>
        <!-- Barra Menu -->
        <div class="w3-top" style="background-color: white;box-shadow: 0px 4px 10px grey;">
            
            <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
            
                    <div class="w3-right w3-padding-16">&nbsp <a href="{% url 'help' %}"><i class="material-icons" style="font-size:28px;color:red">help</i></a></div>
        
                    <a href="{% url 'cart' %}"><div class="material-icons w3-right w3-padding-16" style="font-size:28px;color:red">&nbsp shopping_cart</div></a>
                
            <div class="w3-right w3-padding-16"> 
                
                {% if user.is_authenticated %}
                    <a style="color: red;" class="no-underline" href="{% url 'profile' %}">{{ user.username }}</a>
                    &nbsp;
                    <a style="color: red;" href="{% url 'logout' %}">Terminar sessão</a>
                {% else %}
                    <a class="button button3" href="{% url 'login' %}">Iniciar sessão</a>
                    <a class="button button3" href="{% url 'register' %}">Regista-te</a>
                {% endif %}
            </div>
        
            <div class="w3-left w3-padding-16"><a style="color: red;" href="{% url 'main_app-home' %}"><img style="height:50px;" src="/media/Blogo.png"></a></div>
            <div class="w3-left w3-padding-16">&nbsp &nbsp</div>
            <div class="w3-left w3-padding-16" style="margin-top: 10px;">
                <form action="{% url 'search' %}" method="get">
                    <div class="search">
                        <input type="text" style="font-size:20px;color: black;" name="query" class="searchTerm" placeholder="O que procura?">
                        <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
           
        </div>
        </div>
    </nav>
    <div class="mt-5 pt-4">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    
    {% block content %}{% endblock %}
    <!-- Footer -->
    <footer class="w3-row-padding w3-padding-32 w3-content">
        <div class="w3-third">
        <h3>Metodos de pagamento</h3>
        <i class="fa fa-cc-paypal" style="font-size:36px"></i>
        <i class="fa fa-cc-mastercard" style="font-size:36px"></i>
        <i class="fa fa-cc-visa" style="font-size:36px"></i>
    
        </div>
    
        <div class="w3-third">
        <h3>Contactos</h3>
        <p>Tel: 210 000 000 (Chamada para a rede fixa nacional)</p>
        <p>Email: nomedaaplicacao@gmail.com</p>
        </div>

        <div class="w3-third">
        <h3>Tags</h3>
        <p>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ajuda</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Politica de serviços</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Politica de privacidade</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Mapa do site</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Mais</span> 
        </p>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
        $('.dropdown-submenu a.dropdown2').on("click", function(e){
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
        });
    </script>
</body>
</html>