<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
        
        <link rel="stylesheet" href="{% static 'main_app/main2.css' %}" type="text/css">
        <!----===== Iconscout CSS ===== -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        
        <!-- Bootstrap CSS (Que esta a interferir com o outro css) -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
        <link rel="stylesheet" href="{% static 'main_app/main.css' %}" type="text/css">
        

        {% if title %}
            <title>Página Django - {{ title }}</title>
        {% else %}
            <title>Página Django</title>
        {% endif %}
    </head>
    <body>
        <!-- Barra Menu -->
        <div class="w3-top" style="background-color: white;box-shadow: 0px 4px 10px grey;">

            <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
            
            <div class="w3-right w3-padding-16">&nbsp <a href="{% url 'help' %}"><i class="material-icons" style="font-size:28px;color:red">help</i></a></div>
    
            <a href="{% url 'cart' %}"><div class="material-icons w3-right w3-padding-16" style="font-size:28px;color:red">&nbsp shopping_cart</div></a>
            
            <div class="w3-right w3-padding-16"> 
                
                {% if user.is_authenticated %}
                    <a style="color: red;" class="no-underline" href="{% url 'profile' %}">{{ user.username }}</a>
                    &nbsp;
                    <a style="color: red;" href="{% url 'logout' %}">Terminar sessão</a>
                {% else %}
                    <a class="button button3" href="{% url 'login' %}">Iniciar sessão</a>
                    <a class="button button3" href="{% url 'register' %}">Regista-te</a>
                {% endif %}
            </div>
        
            <div class="w3-left w3-padding-16"><a style="color: red;" href="{% url 'main_app-home' %}"><img style="height:50px;" src="/media/Blogo.png"></a></div>
            <div class="w3-left w3-padding-16">&nbsp &nbsp</div>
            <div class="w3-left w3-padding-16" style="margin-top: 10px;">
                <div class="search">
                    <input type="text" style="font-size:20px" class="searchTerm" placeholder="O que procura?">
                    <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
                </div>
            </div>
        
        </div>
        
    </div>


        <main role="main" style="margin-top: 110px" class=" w3-content">
            <div class="row">
                <div class="col-md-8">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
                <!-- Pode se utilizar isto pra fazer qq coisa... Se n, mudar o design pra a parte
                    de cima ficar centrado -->
                <div class="col-md-4">
                    <div class="content-section">
                        {% if user.user_type %}
                        <h3>{{ user.user_type }}</h3>
                        {% else %}
                        <h3>BusyMarket</h3>
                        {% endif %}
                        <p class="text-muted"> Se quiser saber mais sobre a nossa aplicação:
                            <ul class="list-group">
                                {% if request.user.user_type.description == "Consumidor" %}
                                <li class="list-group-item list-group-item-light"><a style="color: red;" href="{% url 'main_app-about' %}">Acerca</a></li>
                                <li class="list-group-item list-group-item-light"><a style="color: red;" href="{% url 'main_app-legal' %}">Termos e Condições</a></li>
                                {% elif request.user.user_type.description == "Fornecedor" %}
                                <li class="list-group-item list-group-item-light"><a style="color: red;" href="{% url 'storage' %}">Armazéns</a></li>
                                <li class="list-group-item list-group-item-light"><a style="color: red;" href="#">Produtos</a></li>
                                <li style="color: red;" class="list-group-item list-group-item-light">Fornecedores</li>
                                <li style="color: red;" class="list-group-item list-group-item-light"><a style="color: red;" href="{% url 'order_status' %}">Encomendas</a></li>
                                {% elif request.user.user_type.description == "Transportador" %}
                                <li style="color: red;" class="list-group-item list-group-item-light"><a style="color: red;" href="{% url 'base_register' %}">Registar bases</a></li>
                                <li style="color: red;" class="list-group-item list-group-item-light" href="{% url 'base' %}"><a style="color: red;" href="{% url 'base' %}">Visualizar bases</a></li>
                                <li style="color: red;" class="list-group-item list-group-item-light">Visualizar encomendas</li>
                                {% else %}
                                <li class="list-group-item list-group-item-light"><a style="color: red;" href="{% url 'main_app-about' %}">Acerca</a></li>
                                <li class="list-group-item list-group-item-light"><a style="color: red;" href="{% url 'main_app-legal' %}">Termos e Condições</a></li>
                                {% endif %}
                            </ul>
                        </p>
                    </div>
                    
                </div>
                
                
            </div>
            
        </main>
        

        <hr id="about">

        <!-- Footer -->
        <footer class="w3-row-padding w3-padding-32 w3-content">
            <div class="w3-third">
            <h3>Metodos de pagamento</h3>
            <i class="fa fa-cc-paypal" style="font-size:36px"></i>
            <i class="fa fa-cc-mastercard" style="font-size:36px"></i>
            <i class="fa fa-cc-visa" style="font-size:36px"></i>
        
            </div>
        
            <div class="w3-third">
            <h3>Contactos</h3>
            <p>Tel: 210 000 000 (Chamada para a rede fixa nacional)</p>
            <p>Email: nomedaaplicacao@gmail.com</p>
            </div>

            <div class="w3-third">
            <h3>Tags</h3>
            <p>
                <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ajuda</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Política de serviços</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Politica de privacidade</span>
                <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Mapa do site</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Mais</span> 
            </p>
            </div>
        
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>