{% extends "main_app/baseProduct.html" %}\
{% load static %}
{% block content %}
<div class="container">
    <div class="row;">
        <div class="col-lg-12">
            <div class="box-element">
                    <a class="btn btn-outline-dark" href="{% url 'main_app-home' %}">&#x2190; Continuar as compras</a>
                    <br>
                    <br>
                    <table class="table">
                        
                    </table>
                    <h1>Carrinho de compras</h1>
            </div>

            <div class="box-element">
                
                <div style="display: flex;
                align-items: flex-stretch;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid #ececec;">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Artigo</strong></div>
                    <div style="flex:2"><strong>Preço</strong></div>
                    <div style="flex:1"><strong>Quantidade</strong></div>
                    <div style="flex:1"><strong>Preço Final do produto</strong></div>
                    <div style="flex:1"><strong>&nbsp;&nbsp;&nbsp;</strong></div>
                </div>
                {% for order_item in objects.items.all %}
                    <div style="display: flex; align-items: flex-stretch; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #ececec;">
                        <div style="flex:2"><a href="{% url 'product_detail' order_item.item.id%}"><img style="width: 100px; height: 100px;" src="{{ order_item.item.image.url }}"></a></div>
                        <div style="flex:2"><a href="{% url 'product_detail' order_item.item.id%}">{{ order_item.item.title }}</a></div>
                        <div style="flex:2">{{ order_item.item.price|floatformat:2 }} €</div>
                        <div style="flex:1">
                            <p style="display: inline-block;font-weight: 700;padding-right:10px;margin-left: 15px;"> 
                                <a href="{% url 'remove_one_item_cart' order_item.item.slug %}"><i class="fa fa-minus"></i></a> 
                                {{ order_item.amount }} 
                                <a href="{% url 'add-to-cart' order_item.item.slug %}"><i class="fa fa-plus"></i></a></p>

                        </div>
                        
                        <div style="flex:1">{% if order_item.item.discount_price%}
                                                {{order_item.get_discount_total}} €
                                            {% else %}
                                                {{order_item.get_total}} €
                                            {% endif%}
                        </div>
                        <div style="flex:1"><a style="color:red" href="{% url 'remove-from-cart' order_item.item.slug %}"><strong>&nbsp;&#10006;</strong></a></div>
                    </div>
                    
                {% endfor %}
                <div style="display: flex; align-items: flex-stretch">
                    <div style="flex:7.5"><strong>Total:</strong></div>
                    <div style="flex:1"><strong>{{objects.get_cart_total|floatformat:2}} €</strong></div>
                </div>
                {% if user.is_authenticated %}
                <div style="display: flex; align-items: flex-stretch">
                    <div style="flex:5"></div>
                    <div ><a href="{% url 'checkout'%}" class="btn btn-warning float-right mr-5 mt-4">Checkout</a></div>
                </div>
                {% endif %}
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}