{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <p>
            <a href="/base_transport/">Bases</a> > <a href="/transporterbase_detail/{{vehicle.base.id}}/">{{ vehicle.base.address }} </a> > Apagar {{vehicle.registration}} 
        
          </p>
        <form method="POST">
            
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Apagar Veículo </legend>
                
                <h2>Tens a certeza que queres apagar o veículo "{{vehicle.registration}}"?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Sim, apagar</button>
                <a class="btn btn-outline-secondary" href="{% url 'base' %}">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock content %}