{% extends "main_app/base.html" %}
{% block content %}
    <h1>Ajuda!</h1>
    <div>
        <h2>Como iniciar sessão?</h2>
        <p>- No canto superior direito da página clique no botão  <b>“Iniciar sessão”</b></p>
        <img style="height:250px;" src="/media/Ajuda_pics/1.png">
        <br><br><br><br>
        <p>- Preencha os seguintes dois campos com o seu nome de utilizador e a palavra passe respetivamente.</p>
        <img style="height:250px;" src="/media/Ajuda_pics/2.png">
        <br><br><br><br>
        <p>- Clique no botão <b>“Iniciar sessão”</b>.</p>
        <p>- Caso não tenha sido possível iniciar sessão verificar se o nome de utilizador e palavra-passe introduzidos estão corretos</p>
        <br><br><br><br>
    </div>    
     <div> 
        <h2>Como fazer o registo de uma nova conta?</h2>
        <p>- No canto superior direito da página clique no botão  <b>“Registe-se”</b>.</p>
        <img style="height:250px;" src="/media/Ajuda_pics/3.png">
        <br><br><br><br>
        <p>- Preencha os campos pedidos com as suas informações.</p>
        <img style="height:250px;" src="/media/Ajuda_pics/4.png">
        <br><br><br><br>
        <p>- Clique no botão <b>“Concluir registo”</b>. </p>
        <p>- Caso não tenha sido possível concluir o registo da sua conta verifique:
            Se o nome de utilizador já existe. 
            O email introduzido não é válido.
            A palavra-passe introduzida não respeita os critérios de segurança.
            As palavras passes não são iguais.</p>
            <img style="height:250px;" src="/media/Ajuda_pics/5.png">
    </div>
    {% if request.user.user_type.description == "Fornecedor" %}
    <div> 
        <h2>Como registar um produto em um determinado armazém?</h2>
        <p>- No canto superior direito da página clique no botão com o seu <b>nome de utilizador</b> (ex: “Fornecedor”)</p>
        <img style="height:250px;" src="/media/Ajuda_pics/6.jpg">
        <br><br><br><br>
        <p>- Irá ser redirecionado para o seu perfil, depois no lado direito da página encontrará uma caixa com o nome Fornecedor contendo mais informações sobre a aplicação. Nesta caixa encontrará links para as seguintes categorias: Armazéns, Produtos, Fornecedores e Encomendas. Clique em <b>Armazéns</b> para ser redirecionado para a página que contém os seus armazéns.</p>
        <img style="height:250px;" src="/media/Ajuda_pics/7.jpg">
        <br><br><br><br>
        <p>- Estando na página dos seus armazéns clique no <b>armazém desejado</b> (se não tiver nenhum registado clique em adicionar armazém).</p>
        <img style="height:250px;" src="/media/Ajuda_pics/8.jpg">
        <br><br><br><br>
        <p>- Irá ser redirecionado para a página do seu armazém que contém os produtos deste mesmo. Depois pode clicar em <b>Adicionar produto</b> para fazer um registo de produto no seu armazém.</p>
        <img style="height:250px;" src="/media/Ajuda_pics/9.jpg">
        <br><br><br><br>
        <p>Quando clicar em <b>Adicionar produto</b> irá ser redirecionado para uma página onde pode registar os campos deste mesmo.</p>
        <p>Quando acabar de preencher os campos do produto pode clicar em <b>Adicionar novo produto</b> (no fim da página) para concluir o registo deste mesmo.</p>
        <img style="height:250px;" src="/media/Ajuda_pics/10.jpg">
        <br><br><br><br>
    </div>

    <div> 
        <h2>Como registar um armazém?</h2>
        <p>- No canto superior direito da página clique no botão com o seu <b>nome de utilizador</b> (ex: “Fornecedor”)</p>
        <img style="height:250px;" src="/media/Ajuda_pics/6.jpg">
        <br><br><br><br>
        <p>- Irá ser redirecionado para o seu perfil, depois no lado direito da página encontrará uma caixa com o nome Fornecedor contendo mais informações sobre a aplicação. Nesta caixa encontrará links para as seguintes categorias: Armazéns, Produtos, Fornecedores e Encomendas. Clique em <b>Armazéns</b> para ser redirecionado para a página que contém os seus armazéns.</p>
        <img style="height:250px;" src="/media/Ajuda_pics/7.jpg">
        <br><br><br><br>
        <p>- Estando na página dos seus armazéns clique <b>Adicionar armazém</b>.</p>
        <img style="height:250px;" src="/media/Ajuda_pics/11.jpg">
        <br><br><br><br>
        <p>- Irá ser redirecionado para uma página onde pode registar os campos do armazém que quer registar.</p>
        <p>- Quando acabar de preencher os campos do armazém pode clicar em <b>Adicionar</b> (no fim da página) para concluir o registo deste mesmo.</p>
        <img style="height:250px;" src="/media/Ajuda_pics/12.jpg">
        <br><br><br><br>
    </div>

    <div> 
        <h2>Como ver histórico de encomendas?</h2>
        <p>- No canto superior direito da página clique no botão com o seu <b>nome de utilizador</b> (ex: “Fornecedor”).</p>
        <img style="height:250px;" src="/media/Ajuda_pics/13.jpg">
        <br><br><br><br>
        <p>- Irá ser redirecionado para o seu perfil, depois no lado direito da página encontrará uma caixa com o nome Fornecedor contendo mais informações sobre a aplicação. Nesta caixa encontrará links para as seguintes categorias: Armazéns, Produtos, Fornecedores e Encomendas. Clique em <b>Encomendas</b> para ser redirecionado para a página que contém os seus armazéns.</p>
        <img style="height:250px;" src="/media/Ajuda_pics/14.jpg">
        <br><br><br><br>
        <p>- Estando na página das suas encomendas pode ver o resumo destas mesmas..</p>
        <br><br><br><br>
    </div>

    {% elif request.user.user_type.description == "Transportador" %}
    <div> 
        <br><br><br><br>
        <h2>Como adicionar uma base do transportador?</h2>
        <p>- No canto superior direito da página clique no botão com o seu <b>nome de utilizador</b> (ex: “Transportador”).</p>
        <img style="height:250px;" src="/media/Ajuda_pics/15.jpg">
        <br><br><br><br>
        <p>- Irá ser redirecionado para o seu perfil, depois no lado direito da página encontrará uma caixa com o nome Fornecedor contendo mais informações sobre a aplicação. Nesta caixa encontrará links para as seguintes categorias: Registar bases, Visualizar bases e  Visualizar encomendas . Clique em <b>Registar bases</b> para ser redirecionado para a página de registo de bases.</p>
        <img style="height:250px;" src="/media/Ajuda_pics/16.jpg">
        <br><br><br><br>
        <p>- Depois de preencher o campo da morada pode concluir o seu registo de base ao clicar em Adicionar.</p>
        <img style="height:250px;" src="/media/Ajuda_pics/17.jpg">
        <br><br><br><br>
    </div>

    <div> 
        <h2>Como adicionar um veículo a uma base?</h2>
        <p>- Para poder adicionar um veículo será necessário que o transportador em questão tenha uma base criada.</p>
        <p>- No canto superior direito da página clique no seu nome de utilizador (Neste caso <b>transportador</b>).</p>
        <img style="height:250px;" src="/media/Ajuda_pics/18.jpg">
        <br><br><br><br>
        <p>- No lado direito da página, clique na opção <b>Visualizar bases</b>.</p>
        <img style="height:250px;" src="/media/Ajuda_pics/19.png">
        <br><br><br><br>
        <p>- Clique no nome da base que pretende que o veículo seja adicionado.</p>
        <img style="height:250px;" src="/media/Ajuda_pics/20.png">
        <br><br><br><br>
        <p>- Clique no botão <b>Adicionar veículos</b>.</p>
        <img style="height:250px;" src="/media/Ajuda_pics/21.png">
        <br><br><br><br>
        <p>- Preencha corretamente todos os campos do formulário e clique em <b>Adicionar</b>.</p>
        <img style="height:250px;" src="/media/Ajuda_pics/22.png">
        <br><br><br><br>
    </div>
    {% endif %}
{% endblock content %}