{% extends "main_app/baseProduct.html" %}
{% block content %}
    <div class="w3 container">
        <div class="row">
            <h1>&nbsp;&nbsp; Bem vindo à nossa loja!</h1>
            <br><br><br>

        </div>
        <div class="row">
            {% for product in productsPaginado %}
            <div class="col-lg-4 " style="width: 90%;">
                <a href="{% url 'product_detail' product.id%}"><img class="thumbnail" src="{{product.image.url}}"></a>
                <div class="box-element product">
                    <a href="{% url 'product_detail' product.id%}"><h6>{{product.title}}</h6></a>
                    <hr>
                    <h4 style="float: right;">{{product.price}} €</h4>
                </div>
            </div>
            {% endfor %}
        </div>
        <br><br>
        <div class="">
            {% if productsPaginado.has_previous %}
        
                <a href="?page=1">&laquo Inicio</a>
                <a href="?page={{productsPaginado.previous_page_number}}"> Anterior</a>
        
            {% endif %}
        
            Pagina {{productsPaginado.number}} de {{productsPaginado.paginator.num_pages}}
        
        
            {% if productsPaginado.has_next  %}
            <a href="?page={{productsPaginado.next_page_number}} "> Seguinte</a>
            <a href="?page={{productsPaginado.paginator.num_pages}}"> Fim &raquo</a>
            {% endif %}
        </div>
    </div>
 

{% endblock content %}