{% extends "main_app/base.html" %}

{% block content %}
    <h2>Sessão terminada com sucesso.</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a style="color: red;" href="{% url 'login' %}">Iniciar sessão</a>
        </small>
    </div>
  
{% endblock content %}