{% extends "main_app/base.html" %}
{% load static %}
{% block content %}
    <p><strong>Encomendas</strong></p>
    
    <div class="w3-half w3-padding-16" style="text-align:left;">
        {% for order in orders %}
            <article class="media content-section" style="width: 180%;">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-3">Cliente: {{order.user}}</a>
                        <br>
                        <a class="mr-3" >Estado: {{order.complete}}</a>
                        <br>
                        <a class="mr-3" >Produto: {{order.item}}</a>
                        <br>
                        <a class="mr-3">Armazém: {{order.item.storage}}</a>
                        <a class="mr-3"><img style="width: 100px; height: 80px;float: right;margin-bottom:30px;" src="{{ order.item.image.url }}"></a>
                        <br>
                        <a class="mr-3">Quantidade: {{order.amount}}</a>
                        <a class="mr-3">Preço: {{order.item.price}} €</a>
                        <br>
                        <br>
                        <a class="mr-3">Total a receber: {{order.get_total}} €</a>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
        
    
       
    

{% endblock content %}
