{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <p> 
        <a href="{% url 'storage' %}">Armazéns</a> > <a href="#">{{ storage.address }}</a> > 
        <a href="{% url 'storage_detail' storage.id %}">Produtos</a> > Adicionar novo produto
    </p>

    <div class="content-section">
      
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Adicionar novo produto</legend>
                {{ form1|crispy }}
                {{form1.errors}}
                {{ formResource|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Adicionar novo produto</button>
            </div>
        </form>

    </div>
{% endblock content %}



