{% extends "main_app/base.html" %}
{% block content %}
    <div class="media-body">
        <h2 class="account-heading">{{ storage.address }} > Produtos</h2>
        {% for product in products %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2">{{ product.title }}</a>
                        <small class="text-muted">{{ product.price }}</small>
                        <small class="text-muted">{{ product.image }}</small>
                        <small class="text-muted">{{ post.description}}</small>
                    </div>
                    <!--<h2><a class="article-title" href="#">{{ post.title }}</a></h2>-->
                    <!--<p class="article-content">{{ post.content }}</p>-->
                    
                </div>
            </article>
        {% endfor %}
        <a class="nav-item nav-link" href="{% url 'product_register' %}">Adicionar novo produto</a>
    </div>

{% endblock content %}
