{% extends "main_app/base.html" %}
{% block content %}
    <div class="media-body">
        <p><a href="{% url 'storage' %}">Armazéns</a> > <a href="#">{{ storage.address }}</a> > Produtos</p>

        {% for product in products %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <img class="rounded-circle account-img" src="{{product.image.url}}">
                        <a class="mr-2">{{ product.title }}</a>
                        &nbsp;
                        <small class="text-muted">{{ product.price }} €</small>
                        
                        &nbsp;
                        <small class="text-muted">Em stock: {{ product.in_stock }}</small>
                        &nbsp;
                        <small class="text-muted">{{ product.description }}</small>
                        <br>
                    </div>
                    <a class="nav-item nav-link" href="{% url 'product_edit' product_id=product.id %}">Editar produto</a>
                    <a class="nav-item nav-link" href="{% url 'delete_product' product.id %}">Apagar produto</a>
                    <!--<h2><a class="article-title" href="#">{{ post.title }}</a></h2>-->
                    <!--<p class="article-content">{{ post.content }}</p>-->
                </div>
            </article>
        {% endfor %}
        <a class="nav-item nav-link" href="{% url 'product_register' storage_id=storage.id%}">Adicionar novo produto</a>
    </div>
{% endblock content %}
