{% extends "main_app/base.html" %}
{% block content %}
    <p>Armazéns</p>
    {% for storage in storages %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'storage_detail' storage.id%}">{{ storage.address }}</a>
                    <br>
                    <a class="mr-2" href="{% url 'storage_edit' storage.id%}">Editar armazém</a>
                    <a class="mr-2" href="{% url 'delete_storage' storage.id%}">Apagar armazém</a>

                </div>

            </div>
        </article>
    {% endfor %}
    <a class="nav-item nav-link" href="{% url 'storage_register' %}">Adicionar armazém</a>

{% endblock content %}
