{% extends "main_app/base.html" %}
{% block content %}
    <div class="media-body">

        <h1>Base: {{ transporterbase}}</h1>
        <p> 
            <a href="/base_transport/">Bases</a> > {{ transporterbase }}
            
        </p>
        <h3>Veículos:</h3>
        {% for vehicles in vehicle %}
            <article class="media content-section">
            
                <div class="media-body">
                    <div class="article-metadata">
                        <a class=""> Matricula: {{ vehicles.registration }}</a>
                        &nbsp;
                        <a class=""> Marca:{{  vehicles.brand }} </a>
                    
                        &nbsp;
                        <a class="">Modelo: {{  vehicles.model }}</a>
                        &nbsp;
                        
                        &nbsp;
                        <a class="">Combustivel: {{  vehicles.fuel }}</a>
                        &nbsp;
                        <br>

                    </div>

                    <a class="btn btn-outline-success" href="{% url 'vehicle_edit' vehicle_id=vehicles.id %}">Editar Veículo</a>
                    <a class="btn btn-outline-danger" href="{% url 'delete_vehicle' vehicle_id=vehicles.id %}">Apagar Veículo</a>
                </div>
            </article>
        {% endfor %}
        <a class="btn btn-outline-success" href="{% url 'vehicle_register' base_id=transporterbase.id %}">Adicionar veículos </a>
        
        <a class="btn btn-outline-danger" href="{% url 'base' %}">Voltar para bases</a>
    </div>
{% endblock content %}
