{% extends "main_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Apagar veículo</legend>
                <h2>Tens a certeza que queres apagar este veículo "{{ vehicle.registration }}"?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Sim, apagar</button>
                <a class="btn btn-outline-success" href="{% url 'transporterbase_detail' %}">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock content %}