{%extends "main_app/base.html"%}
{% load crispy_forms_tags %}
{% block content  %}
  <p>
    <a href="/base_transport/">Bases</a> > <a href="/transporterbase_detail/{{vehicle.base.id}}/">{{ vehicle.base.address }} </a> > Editar {{vehicle.registration}} 

  </p>

  <div class="content-section">
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Informação do veículo</legend>
          {{ u_form | crispy}}


        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit" name="button"> Atualizar</button>

        </div>
    </form>
  </div>
{% endblock content%}