.anyClass {
  height:150px;
  overflow-y: scroll;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}

.segundoMenu{
    position: fixed;
}

/*Barra de pequisa*/

.search {
  width: 85%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 2px solid gray;
  border-right: none;
  padding: 12px;
  height: 10px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: red;
}


.searchButton {
  width: 40px;
  height: 28px;
  border: 2px solid gray;
  background: red;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 17px;
}
/* /Barra de pequisa*/

footer {
  width:100%;
  margin-top: auto
}

/* Botao de adicionar ao carinho*/

.cart-row{
	  display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

/*css da pagina do carrinho.html */

.row-image{
	width: 100px;
  height: 100px;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}
/*fim do css da pagina do carrinho.html */
#carrinhoButton {
  font-size:28px;
  color:red; 
  text-decoration: none;
}

#carrinho-total{
  position: fixed;
  display: block;
  text-align: center;
  color:  #fff;
  background-color: red;
  width: 20px;
  height: 18px;
  border-radius: 50%;
  font-size: 10px;
  margin-right: 50px;
  right:100px;
  top:10px;
 
}
/* colunas dos produtos na home page */

.box-element {
  box-shadow: hsl(0, 0%, 80%);
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.product{
  border-radius:  0 0 4px 4px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}
/* Segundo menu */

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: red;
  color: white;
}

/* /Segundo menu */



/* Botao login/registar */

.button {

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
  
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  .button3:hover {
    background-color: #f44336;
    color: white;
  }

  /* The popup form - hidden by default */
    .form-popup {
        display: none;
        position: fixed;
        top: 0;
        right: 90px;
        border: 3px solid #f1f1f1;
        z-index: 9;
        text-align: center;
    }

    /* Add styles to the form container */
.form-container {
    max-width: 250px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 9px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    font-size: 18px;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 1px 12px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin-bottom:30px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

/* /Botao login/registar */

/* Criar conta */

.container{
  position: relative;
  max-width: 900px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  right: 0px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container header{
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.container header::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  
}
.container form{
  right: 0px;
  position: relative;
  margin-top: 16px;
  min-height: 390px;
  background-color: #fff;
  overflow: hidden;
}
.container form .form{
  position: absolute;
  background-color: #fff;
  transition: 0.3s ease;
}
.container form .form.second{
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
}
form.secActive .form.second{
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
form.secActive .form.first{
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
}
.container form .title{
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}
.container form .fields{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
form .fields .input-field{
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 0;
}
.input-field label{
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}
.input-field input, select{
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
  color: #707070;
}
.input-field input[type="date"]:valid{
  color: #333;
}
.backBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  margin: 25px 0;
  background-color:red;
  transition: all 0.3s linear;
  cursor: pointer;
}
 form .btnText{
  font-size: 14px;
  font-weight: 400;
}
form button:hover{
  background-color: red;
}
form button i,
form .backBtn i{
  margin: 0 6px;
}
form .backBtn i{
  transform: rotate(180deg);
}
form .buttons{
  display: flex;
  align-items: center;
}
form .buttons button , .backBtn{
  margin-right: 14px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
